label {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 600;
}

select{
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}

text {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
}

h1 {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 32px;
    margin-right: 10px;
    font-weight: 1000;
}

h2 {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 750;
}

.info {
    position: absolute;
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 16px;;
    margin-right: 10px;
    font-weight: 500;
    pointer-events: none;
}

h3 {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 750;
}

body, table, th, td {
    font-family: mlb-primary, "Helvetica Neue", Helvetica, Arial, san-serif;
    margin: 0;
    padding: 0;
}

/* Style for the table */
table {
    width: 20%;
    border-collapse: collapse;
}

/* Style for table headings (th) */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for table cells (td) */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Alternate row color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
